In [42]:
import pandas as pd
from datetime import datetime as dt
import os
import matplotlib.pyplot as plt
from matplotlib.dates import DateFormatter
import matplotlib.dates as mdates
import datetime as dt
import numpy as np
file = 'data.csv'
df = pd.read_csv(file)
df

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658
...,...,...,...,...,...,...,...,...,...,...,...,...
61895,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61896,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61897,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61898,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61899,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

In [43]:
del df['countryterritoryCode']
del df['geoId']
df['date'] = pd.to_datetime(df[['month', 'day', 'year']])
del df['year']
del df['day']
df = df.loc[df['month'] != 1]
del df['month']
df = df.dropna(how='any')
del df['dateRep']

dfclean = df.loc[df['cases'] != 0]
dfclean = dfclean.rename(columns = {'dateRep':'Date'})

In [44]:

df

,cases,deaths,countriesAndTerritories,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000,date
0,746,6,Afghanistan,38041757.0,Asia,9.013779,2020-12-14
1,298,9,Afghanistan,38041757.0,Asia,7.052776,2020-12-13
2,113,11,Afghanistan,38041757.0,Asia,6.868768,2020-12-12
3,63,10,Afghanistan,38041757.0,Asia,7.134266,2020-12-11
4,202,16,Afghanistan,38041757.0,Asia,6.968658,2020-12-10
...,...,...,...,...,...,...,...
61882,0,0,Zimbabwe,14645473.0,Africa,0.047796,2020-04-07
61883,0,0,Zimbabwe,14645473.0,Africa,0.047796,2020-04-06
61884,0,0,Zimbabwe,14645473.0,Africa,0.047796,2020-04-05
61885,1,0,Zimbabwe,14645473.0,Africa,0.054624,2020-04-04
61886,0,0,Zimbabwe,14645473.0,Africa,0.054624,2020-04-03

In [45]:
country = ['Belgium','Finland','France','Ghana','Egypt','Israel','Iraq','Vietnam','Singapore','Malaysia','United_States_of_America', 'United_Kingdom','Australia','New_Zealand']
final = dfclean.loc[dfclean['countriesAndTerritories'].isin(country)]
final = final.rename(columns = {'countriesAndTerritories': 'Country', 'continentExp': 'continent', 'Cumulative_number_for_14_days_of_COVID-19_cases_per_100000': '14 day cases/100,000', 'popData2019':'population'})

In [46]:
final

,cases,deaths,Country,population,continent,"14 day cases/100,000",date
2934,6,0,Australia,25203200.0,Oceania,0.547550,2020-12-14
2935,13,0,Australia,25203200.0,Oceania,0.555485,2020-12-13
2936,12,0,Australia,25203200.0,Oceania,0.547550,2020-12-12
2937,7,0,Australia,25203200.0,Oceania,0.527711,2020-12-11
2938,6,0,Australia,25203200.0,Oceania,0.551517,2020-12-10
...,...,...,...,...,...,...,...
60780,2,0,Vietnam,96462108.0,Asia,0.010367,2020-02-07
60782,1,0,Vietnam,96462108.0,Asia,0.010367,2020-02-05
60783,1,0,Vietnam,96462108.0,Asia,0.009330,2020-02-04
60784,1,0,Vietnam,96462108.0,Asia,0.008293,2020-02-03
60785,2,0,Vietnam,96462108.0,Asia,0.007257,2020-02-02

In [48]:
final.to_csv("cleaned_data.csv", index=False, header=True)