In [3]:
#Dependencies and Setup
import requests
import pandas as pd
import json
import os
from api_key import key

In [4]:
url = "https://api.covid19api.com/premium/country/testing/"
country = ['Belgium','Finland','France','Ghana','Egypt','Israel','Iraq','Vietnam','Singapore','Malaysia','united-states', 'united-kingdom','Australia','new-zealand','south-africa','Mexico','Canada','Nigeria','Brazil','Chile','dominican-republic','south-korea','Germany']

In [5]:
payload = {}
headers= {'X-Access-Token': key}
date = []
total = []
daily = []
countries = []
for c in country:
    response = requests.request("GET", f'{url}{c}', headers=headers, data = payload).json()
    for x in range (len(response)):
        countries.append(c)
        date.append(response[x]['Date'])
        daily.append(response[x]['DailyChangeCumulativeTotal'])
        total.append(response[x]['CumulativeTotal'])

In [6]:
testing = {'Country': countries,
    'Total Tests': total,
    'Daily Tests': daily,
    'date':date}
testData = pd.DataFrame(testing)

In [12]:
testData = testData.dropna(how='any')
testData = testData.loc[testData['Total Tests']!= 0]
testData['Country'].unique()

array(['Belgium', 'Finland', 'Ghana', 'Israel', 'Iraq', 'Vietnam',
       'Singapore', 'Malaysia', 'united-states', 'united-kingdom',
       'Australia', 'new-zealand', 'south-africa', 'Mexico', 'Canada',
       'Nigeria', 'Brazil', 'Chile', 'dominican-republic', 'south-korea',
       'Germany'], dtype=object)

In [8]:
testData

      Country  Total Tests  Daily Tests                  date
0     Belgium           82           82  2020-03-01T00:00:00Z
1     Belgium          399          317  2020-03-02T00:00:00Z
2     Belgium          937          538  2020-03-03T00:00:00Z
3     Belgium         1638          701  2020-03-04T00:00:00Z
4     Belgium         2411          773  2020-03-05T00:00:00Z
...       ...          ...          ...                   ...
8255  Germany     41790142            0  2021-02-07T00:00:00Z
8262  Germany     42846910            0  2021-02-14T00:00:00Z
8269  Germany     43945575            0  2021-02-21T00:00:00Z
8276  Germany     45115910            0  2021-02-28T00:00:00Z
8283  Germany     46252735            0  2021-03-07T00:00:00Z

[6542 rows x 4 columns]

In [9]:
testData['date'] = pd.to_datetime(testData['date']).dt.strftime('%m/%d/%Y')

In [10]:
testData

      Country  Total Tests  Daily Tests        date
0     Belgium           82           82  03/01/2020
1     Belgium          399          317  03/02/2020
2     Belgium          937          538  03/03/2020
3     Belgium         1638          701  03/04/2020
4     Belgium         2411          773  03/05/2020
...       ...          ...          ...         ...
8255  Germany     41790142            0  02/07/2021
8262  Germany     42846910            0  02/14/2021
8269  Germany     43945575            0  02/21/2021
8276  Germany     45115910            0  02/28/2021
8283  Germany     46252735            0  03/07/2021

[6542 rows x 4 columns]

In [11]:
testData.to_csv("testData.csv", index=False, header=True)