In [108]:
#Dependencies and Setup
import requests
import pandas as pd
import json
import os
from api_key import key

In [117]:
url = "https://api.covid19api.com/premium/country/testing/"
country = ['Belgium','Finland','France','Ghana','Egypt','Israel','Iraq','Vietnam','Singapore','Malaysia','united-states', 'united-kingdom','Australia','new-zealand']

In [125]:
payload = {}
headers= {'X-Access-Token': key}
date = []
total = []
daily = []
countries = []
for c in country:
    response = requests.request("GET", f'{url}{c}', headers=headers, data = payload).json()
    for x in range (len(response)):
        countries.append(c)
        date.append(response[x]['Date'])
        daily.append(response[x]['DailyChangeCumulativeTotal'])
        total.append(response[x]['CumulativeTotal'])

In [127]:
testing = {'Country': countries,
    'Total Tests': total,
    'Daily Tests': daily,
    'date':date}
testData = pd.DataFrame(testing)

In [131]:
testData = testData.dropna(how='any')
testData = testData.loc[testData['Total Tests']!= 0]

          Country  Total Tests  Daily Tests                  date
0         Belgium           82           82  2020-03-01T00:00:00Z
1         Belgium          399          317  2020-03-02T00:00:00Z
2         Belgium          937          538  2020-03-03T00:00:00Z
3         Belgium         1638          701  2020-03-04T00:00:00Z
4         Belgium         2411          773  2020-03-05T00:00:00Z
...           ...          ...          ...                   ...
5111  new-zealand      1751605        14674  2021-03-04T00:00:00Z
5112  new-zealand      1763008        11403  2021-03-05T00:00:00Z
5113  new-zealand      1772480         9472  2021-03-06T00:00:00Z
5114  new-zealand      1779213         6733  2021-03-07T00:00:00Z
5115  new-zealand      1783178         3965  2021-03-08T00:00:00Z

[3976 rows x 4 columns]