In [35]:
#Dependencies and Setup
import requests
import pandas as pd
import json
import os
from api_key import key

In [36]:
url = "https://api.covid19api.com/premium/country/testing/"
country = ['Belgium','Finland','France','Ghana','Egypt','Israel','Iraq','Vietnam','Singapore','Malaysia','united-states', 'united-kingdom','Australia','new-zealand','south-africa','Mexico','Canada','Nigeria','Brazil','Chile','dominican-republic','south-korea','Germany']

In [37]:
payload = {}
headers= {'X-Access-Token': key}
date = []
total = []
daily = []
countries = []
for c in country:
    response = requests.request("GET", f'{url}{c}', headers=headers, data = payload).json()
    for x in range (len(response)):
        countries.append(c)
        date.append(response[x]['Date'])
        daily.append(response[x]['DailyChangeCumulativeTotal'])
        total.append(response[x]['CumulativeTotal'])

In [38]:
testing = {'Country': countries,
    'Total Tests': total,
    'Daily Tests': daily,
    'date':date}
testData = pd.DataFrame(testing)

In [39]:
testData = testData.dropna(how='any')
testData = testData.loc[testData['Total Tests']!= 0]
testData['Country'].unique()

array(['Belgium', 'Finland', 'Ghana', 'Israel', 'Iraq', 'Vietnam',
       'Singapore', 'Malaysia', 'united-states', 'united-kingdom',
       'Australia', 'new-zealand', 'south-africa', 'Mexico', 'Canada',
       'Nigeria', 'Brazil', 'Chile', 'dominican-republic', 'south-korea',
       'Germany'], dtype=object)

In [56]:
testData['date'] = pd.to_datetime(testData['date']).dt.strftime('%m/%d/%Y')
testData['date'] = pd.to_datetime(testData['date'])
testData

          Country  Total Tests  Daily Tests       date
0         Belgium           82           82 2020-03-01
1         Belgium          399          317 2020-03-02
2         Belgium          937          538 2020-03-03
3         Belgium         1638          701 2020-03-04
4         Belgium         2411          773 2020-03-05
...           ...          ...          ...        ...
7910  south-korea      6691811        41475 2021-03-04
7911  south-korea      6725304        33493 2021-03-05
7912  south-korea      6756772        31468 2021-03-06
7913  south-korea      6776730        19958 2021-03-07
7914  south-korea      6794415        17685 2021-03-08

[6098 rows x 4 columns]

In [57]:
testData = testData.loc[testData['Daily Tests']!= 0]
testData = testData.loc[testData['date'].dt.year < 2021 ]

In [58]:
testData['Country'].unique()

array(['Belgium', 'Finland', 'Ghana', 'Israel', 'Iraq', 'Vietnam',
       'Malaysia', 'united-states', 'united-kingdom', 'Australia',
       'new-zealand', 'south-africa', 'Mexico', 'Canada', 'Nigeria',
       'Chile', 'dominican-republic', 'south-korea'], dtype=object)

In [47]:
testData.to_csv("testData.csv", index=False, header=True)

In [59]:
testData[testData['Country']== 'Australia']

        Country  Total Tests  Daily Tests       date
4458  Australia       302663         5509 2020-04-06
4459  Australia       310700         8037 2020-04-07
4460  Australia       319368         8668 2020-04-08
4461  Australia       330134        10766 2020-04-09
4462  Australia       338346         8212 2020-04-10
...         ...          ...          ...        ...
4719  Australia     10815210        89673 2020-12-23
4724  Australia     11124593        29427 2020-12-28
4725  Australia     11163904        39311 2020-12-29
4726  Australia     11204351        40447 2020-12-30
4727  Australia     11260636        56285 2020-12-31

[202 rows x 4 columns]